/* RESET */
a{
  text-decoration: none;
}
nav ul{
  list-style: none;
}

/* BODY, HTML */
body {
  font-size: 16px;
}

/* Header */
nav ul li a{
  color: grey;
  text-transform: uppercase;
  font-weight: bold;
}

nav ul li a:hover{
  color: orange;
}

nav ul li:last-child a{
 background-color: orange;
 color: white;
 text-transform: unset;
  padding: 8px 16px;
  font-weight: lighter;
}













.blog-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
